@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Vars */
:root {
    --primary-bg: #047aed;
}
/* Default */
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a {

    text-decoration: none;
    color: #333;
}

h1, h2 {
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}
/* NavBar */
.navbar {
    background-color: var(--primary-bg);
    color: #fff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* Showcase */
.showcase {
    background-color: var(--primary-bg);
    color: #fff;
    height: 400px;
    /* For ::after and ::before elements*/
    position: relative;
}

.showcase::before,
.showcase::after {
    /* ::after and ::before element don't visible
        without left: and right:. I thing this happens
        because it has width is equaled 0.
    */
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: rgb(255, 255, 255);
    /* If deg is positive the offset is did down
    negative up
    */
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.form-control input[type="text"],
.form-control input[type="email"] {
    border: 0;
    border-bottom: 1px solid  #b4becd;
    width: 100%;
    padding: 3px;
    font-size: 1rem;
}

.form-control input:focus{
    outline: none;
}