@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Vars */
:root {
    --primary-bg: #047aed; 
}
/* Default */
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}


body{

    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a {

    text-decoration: none;
    color: #333;
}

h1, h2 {
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0;
}


p {
    margin: 10px 0;
}

img {
    width: 100%;
}
/* NavBar */
.navbar {
    background-color: var(--primary-bg);
    color: #fff;
    height: 70px;
}


.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* Showcase */
.showcase {
    background-color: var(--primary-bg);
    color: #fff;
    height: 400px;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}